<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Trang Chủ</a>
      </li>
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/muster' ? 'active' : '' %>" href="/muster"
          >Điểm Danh</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/staff-info' ? 'active' : '' %>"
          href="/staff-info"
          >Thông Tin Cá Nhân</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/work-info' ? 'active' : '' %>"
          href="/work-info"
          >Thông Tin Giờ Làm</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/covid-info' ? 'active' : '' %>"
          href="/covid-info"
          >Thông Tin Covid Cá Nhân
        </a>
      </li>
      <% } %> <% if (position === 'admin' ) {%>
      <li class="main-header__item">
        <a
          href="/admin/staff"
          class="<%= path === '/admin/staff' ? 'active' : '' %>"
          >Quản Lý Nhân Viên</a
        >
      </li>
      <%} %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Đăng Nhập</a>
      </li>
      <!-- <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Đăng Ký</a>
      </li> -->
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Đăng Xuất</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Trang Chủ</a>
    </li>
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/muster' ? 'active' : '' %>" href="/muster"
        >Điểm Danh</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/staff-info' ? 'active' : '' %>"
        href="/staff-info"
        >Thông Tin Cá Nhân</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/work-info' ? 'active' : '' %>" href="/work-info"
        >Thông Tin Giờ Làm</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/covid-info' ? 'active' : '' %>"
        href="/covid-info"
        >Thông Tin Covid Cá Nhân
      </a>
    </li>
    <% } %> <% if (position === 'admin' ) {%>
    <li class="mobile-nav__item">
      <a
        href="/admin/staff"
        class="<%= path === '/admin/staff' ? 'active' : '' %>"
        >Quản Lý Nhân Viên</a
      >
    </li>
    <%} %>
  </ul>
  <ul class="mobile-nav__item-list">
    <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Đăng Nhập</a>
    </li>
    <!-- <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Đăng Ký</a>
    </li> -->
    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Đăng Xuất</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
