<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <style>
        button:disabled {
            background-color: grey;
            color: white;
            border: 1px solid grey;
        }

        button:disabled:hover {
            background-color: grey;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <%- include('../includes/nav-child.ejs') %>
                    <div class="card__actions">
                        Xin Chào <b><%= staffs.name %>!!</b>
                        <p>Vui lòng điểm danh...</p>
                    </div>
            </main>
            <%- include('../includes/end.ejs') %>