<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
    <style>
        .active {
            color: green
        }
        
        button:disabled {
            background-color: grey;
            color: white;
            border: 1px solid grey;
        }

        button:disabled:hover {
            background-color: grey;
        }

    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <%- include('../includes/nav-child.ejs') %>
                <div class="grid">
                    <article>
                        <% const staffLastLenght = staffs.workTimes.length - 1; %>
                        <div>
                            <h4>Tên Nhân Viên</h4>
                            <p><%= staffs.name %></p>
                        </div>
                        <div>
                            <h4>Nơi làm việc</h4>
                            <p><%= staffs.workTimes[staffLastLenght].workPlace %></p>
                        </div>
                        <div>
                            <h4>Giờ bắt đầu</h4>
                            <p> <%=
                                staffs.workTimes[staffLastLenght].startTime.getDate() + "/" + (+staffs.workTimes[staffLastLenght].startTime.getMonth() + 1) + "/" + staffs.workTimes[staffLastLenght].startTime.getFullYear() + " " + staffs.workTimes[staffLastLenght].startTime.getHours() + ":" + staffs.workTimes[staffLastLenght].startTime.getMinutes() + ":" + staffs.workTimes[staffLastLenght].startTime.getSeconds() %></p>
                        </div>
                    </article>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>