<%- include('../includes/head.ejs') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
/>
    <style>

        .form-control {
            margin: 5px auto;
            height: min-content;
        }

        .form-control label,
        .form-control input {
            display: block;
            width: 90%;
        }

        .form-control input {
            margin: 3px auto;
            border-radius: 3px;
            border: 1px solid grey;
        }

        button {
            border-radius: 3px;
            border: 1px solid #5454ad;
            background-color: #00695c;
            color: #ffeb3b;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <form action="/covid-info/temperature" method="POST">
                                <div class="form-control">
                                    <lable for="nhietdo">Nhiệt Độ</lable>
                                    <input type="text" name="nhietdo" id="nhietdo" />
                                </div>
                                <div class="form-control">
                                    <lable for="time">Giờ Đo</lable>
                                    <input type="time" name="time" id="time" />
                                </div>
                                <div class="form-control">
                                    <lable for="date">Ngày Đo</lable>
                                    <input type="date" name="date" id="date" />
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Đăng Ký</button>
                            </form>
                        </div>

                        <div class="col-12 col-md-4 col-lg-4">
                            <form action="/covid-info/vaccineInfo" method="POST">
                                <div class="form-control">
                                    <lable for="mui1">Tên Vaccine Mũi 1</lable>
                                    <input type="text" name="mui1" id="mui1" />
                                </div>
                                <div class="form-control">
                                    <lable for="date1">Ngày</lable>
                                    <input type="date" name="date1" id="date1" />
                                </div>
                                <div class="form-control">
                                    <lable for="mui2">Tên Vaccine Mũi 2</lable>
                                    <input type="text" name="mui2" id="mui2" />
                                </div>
                                <div class="form-control">
                                    <lable for="date2">Ngày</lable>
                                    <input type="date" name="date2" id="date2" />
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Đăng ký</button>
                            </form>
                        </div>

                        <div class="col-12 col-md-4 col-lg-4">
                            <form action="/covid-info/infectCovidInfo" method="POST">
                                <div class="form-control">
                                    <lable for="nhiemcovid">Ngày Nhiễm Covid</lable>
                                    <input type="date" name="nhiemcovid" id="nhiemcovid" />
                                </div>
                                <div class="form-control">
                                    <lable for="hetbenh">Ngày Khỏi Bệnh</lable>
                                    <input type="date" name="hetbenh" id="hetbenh" />
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Đăng Ký</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    <br>
                    <% if (position === 'admin' ) { %> 
                    <div class="row">
                        <% staffs.forEach(staff => { %>
                        <div class="card col-12 col-md-4 col-lg-4" >
                            <h3 style="text-align: center">Thong tin <%= staff.name %></h3>
                            <div class="card-body ">
                                <p class="card-text">Tên nhân viên : <%= staff.name%></p>
                                <p class="card-text">Nhiệt độ : <%= staff.bodyTemperature[0] ? staff.bodyTemperature[0].temperature : '' %></p>
                                <p class="card-text">Tên vaccine mũi một: <%= staff.vaccineInfo[0] ? staff.vaccineInfo[0].nameVaccine1 : '' %></p>
                                <p class="card-text">Ngày tiêm: <%= staff.vaccineInfo[0] ? staff.vaccineInfo[0].date1.getDate() + "/" + (+staff.vaccineInfo[0].date1.getMonth() +1) + "/" + staff.vaccineInfo[0].date1.getFullYear() : '' %></p>
                                <p class="card-text">Tên vaccine mũi hai: <%= staff.vaccineInfo[0] ? staff.vaccineInfo[0].nameVaccine2 : '' %></p>
                                <p class="card-text">Ngày tiêm: <%= staff.vaccineInfo[0] ? staff.vaccineInfo[0].date2.getDate() + "/" + (+staff.vaccineInfo[0].date2.getMonth() +1) + "/" + staff.vaccineInfo[0].date2.getFullYear() : '' %></p>
                                <Button type="button" class="btn btn-info" ><a style='text-decoration:none; color: white' href="/covid-info/<%= staff._id %>">Xuất Trang PDF</a></Button>                 
                            </div>
                        </div>     
                        <% }) %>
                    </div>
                    </div>
                    <% } %>
            </div>
        </main>
            <%- include('../includes/end.ejs') %>